body {
    font-family: "Roboto",sans-serif;
    margin: 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    color: white;
    background-color: #1F2937;
    width: 1000px;
}

.header {
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
}

ul {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.banner {
    padding-top: 120px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 100px;
}

.left-banner-box {
    width: 300px;
}

.left-banner-box .title {
    font-size: 28px;
    font-weight: 1000;
    color: #F9FAF8;
}

.left-banner-box .text {
    padding-top: 10px;
    font-size: 12px;
    color: #E5E7EB;
}

.left-banner-box button {
    font-weight: bold;
    margin-top: 10px;
    color: white;
    background-color: #3882F6;
    border: 0px;
    padding: 8px 26px;
    border-radius: 8px;
}

.image {
    width: 380px;
    height: 180px;
    background-color: grey;
}

.below-banner {
    background-color: white;
    color: black;
    padding-left: 180px;
    padding-right: 180px;
}

.below-banner .title {
    padding-top: 50px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cards {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.card {
    width: 120px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.rectangle {
    width: 120px;
    height: 120px;
    border: solid #3882F6 3px;
    border-radius: 12px;

}

.illustration-description {
    font-size: 12px;
}

.bottom-section {
    padding-top: 100px;
    padding-left: 170px;
    padding-right: 170px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.main-text {
    color: #1F2937;
    font-size: 32px;
    padding-bottom: 10px;
    font-weight: 300;
    font-style: italic;
}

.author {
    font-family: 'Roboto',sans-serif;
    color: #1F2937;
    font-size: 18px;
    font-weight: 1000;
    padding-bottom: 80px;
}

.footo {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.bottom-rectangle {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    border-radius: 6px;
}

.footer-left .title {
    font-size: 16px;
    font-weight: bold;
}

.footer-left .text {
    font-size: 12px;
}

button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #3882F6;
    color: white;
    border-width: 1px;
    border-color: white;
    border-radius: 6px;
    border-style: solid;
    font-weight: bold;
}

.footer {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}